<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="main_chat">
  <div class="chat_header">
    <div class="left_header">
      <div class="header_title">
        hogefuga
      </div>
    </div>
    <div class="right_header">
      <div class="header_chat_end">
        <a href="#">チャットを終了する</a>
      </div>
    </div>
  </div>

  <div class="msgs">
    <div class="msg">
      <div class="msg_name">
        <div class="msg_user">
          Tom
        </div>
        <div class="msg_date">
          2020/3/31(Wed) 12:43:30
        </div>
      </div>
      <div class="msg_txt">
        <div class="msg_text">
          おはよう
        </div>
      </div>
    </div>

    <div class="msg">
      <div class="msg_name">
        <div class="msg_user">
          Tom
        </div>
        <div class="msg_date">
          2020/3/31(Wed) 12:47:30
        </div>
      </div>
      <div class="msg_txt">
        <div class="msg_text">
          こんばんは
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="form"> -->
  <form th:action="@{/rooms/{roomId}/messages(roomId=${roomId})}" method="post" th:object="${messageForm}" class="form">
    <div class="form_area">
      <!-- <input class="form_msg" placeholder= "type a message"> -->
      <input th:field="*{content}" class="form_msg" placeholder= "type a message">
      <label class="form_img">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label> 
    </div>
    <input class="form_btm" type="submit" value="送信">
   </form>
  </div>
</div>
</html>
